@charset "utf-8";

* {
  background-color: #ffffea;
}
body {
  font-family: meiryo, sans-serif;
  width: 400px;
  height: (100vh-10px);
  position: relative;
  margin: 10px auto;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #ffffea;
  box-shadow: 1px 1px 3px 3px silver;
  padding: 20px;
}

.calendar-container {
  width: 300px;
  margin: 10px auto;
  text-align: center;
  padding: 0;
}
.calendar-container h4 {
  margin: 0;
  padding: 0;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calendar-header button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.calendar-month {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-day {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
  font-weight: bold;
  margin: 0;
}

.day-of-week {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.time-slots {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}
.all-box {
  padding: 20px;
}
.all-box a {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10%;
  right: 10%;
}
#reservation-form h3 {
  margin-top: 0;
  margin-left: 50px;
}

#reservation-form form {
  margin-top: 0;
  margin-left: 50px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 100px;
  right: 30%;
}
